.theme-dark{

    --page-background-color: #121f38;
    --page2-background-color: #0d172a;
    --text-default-color: #e5e7eb;
    --border-default-color:#475569 ;
    --page-background-image: linear-gradient(45deg, #1e293b 70%, #475569 );
    --container-background-color: #475569;
    --border-container-color: #4b5563;
}
