.theme-light{
    --page-background-color: #eaeaea;
    --page2-background-color: #e1e1e1;
    --text-default-color: #1e293b;
    --border-default-color: #c0c7d5;
    --page-background-image: linear-gradient(45deg, rgb(200, 230, 230), rgb(220, 220, 220));
    --container-background-color: #cbd5e1;
    --border-container-color: #94a3b8;
}
